<a href="https://colab.research.google.com/github/mengyaoo/FNL_GenesSelection/blob/main/01_TC1_data_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from __future__ import print_function

import os, sys, gzip, glob, json, time, argparse
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

from pandas.io.json import json_normalize
from keras.utils import to_categorical
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

from keras.utils import to_categorical
from keras import backend as K
from keras.layers import Input, Dense, Dropout, Activation, Conv1D, MaxPooling1D, Flatten
from keras import optimizers
from keras.optimizers import SGD, Adam, RMSprop
from keras.models import Sequential, Model, model_from_json, model_from_yaml
from keras.utils import np_utils
from keras.callbacks import ModelCheckpoint, CSVLogger, ReduceLROnPlateau

# Data Preparation

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# read the merged FPKM file 
df_FPKM_UQ = pd.read_csv("/content/drive/My Drive/FNL_TC1/Merged_FPKM-UQ.tsv", low_memory=False, sep="\t")

In [ ]:
df_FPKM_UQ

               Unnamed: 0  ... TCGA-ZX-AA5X-01A-11R-A42T-07
0      ENSG00000000003.13  ...                259853.002700
1       ENSG00000000005.5  ...                   505.487701
2      ENSG00000000419.11  ...                591328.474708
3      ENSG00000000457.12  ...                 74253.741766
4      ENSG00000000460.15  ...                 42553.474425
...                   ...  ...                          ...
60478   ENSGR0000275287.3  ...                     0.000000
60479   ENSGR0000276543.3  ...                     0.000000
60480   ENSGR0000277120.3  ...                     0.000000
60481   ENSGR0000280767.1  ...                     0.000000
60482   ENSGR0000281849.1  ...                     0.000000

[60483 rows x 4502 columns]

In [ ]:
gene_name = df_FPKM_UQ['gene_name']

In [ ]:
# explore the file 
df_FPKM_UQ.iloc[0:6, 0:10]
cols = df_FPKM_UQ.columns[2:].values.tolist()

In [ ]:
# read the file 
submitters_id_to_project_id = pd.read_csv("/content/drive/My Drive/FNL_TC1/submitters_id_to_project_id.tsv", 
                                          low_memory=False, sep="\t")

In [ ]:
# explore the contents
submitters_id_to_project_id.columns
submitters_id_to_project_id

               submittedAliquot ID  mappedCaseId mappedProject
0     TCGA-04-1331-01A-01R-1569-13  TCGA-04-1331       TCGA-OV
1     TCGA-04-1332-01A-01R-1564-13  TCGA-04-1332       TCGA-OV
2     TCGA-04-1338-01A-01R-1564-13  TCGA-04-1338       TCGA-OV
3     TCGA-04-1341-01A-01R-1564-13  TCGA-04-1341       TCGA-OV
4     TCGA-04-1343-01A-01R-1564-13  TCGA-04-1343       TCGA-OV
...                            ...           ...           ...
4495  TCGA-ZS-A9CD-01A-11R-A37K-07  TCGA-ZS-A9CD     TCGA-LIHC
4496  TCGA-ZS-A9CE-01A-11R-A37K-07  TCGA-ZS-A9CE     TCGA-LIHC
4497  TCGA-ZS-A9CF-01A-11R-A38B-07  TCGA-ZS-A9CF     TCGA-LIHC
4498  TCGA-ZS-A9CG-01A-11R-A37K-07  TCGA-ZS-A9CG     TCGA-LIHC
4499  TCGA-ZX-AA5X-01A-11R-A42T-07  TCGA-ZX-AA5X     TCGA-CESC

[4500 rows x 3 columns]

In [ ]:
# There are 15 cancer types. 
submitters_id_to_project_id.mappedProject.value_counts()

TCGA-PRAD    300
TCGA-KIRC    300
TCGA-HNSC    300
TCGA-OV      300
TCGA-LGG     300
TCGA-LUSC    300
TCGA-LIHC    300
TCGA-THCA    300
TCGA-BLCA    300
TCGA-STAD    300
TCGA-UCEC    300
TCGA-CESC    300
TCGA-COAD    300
TCGA-LUAD    300
TCGA-BRCA    300
Name: mappedProject, dtype: int64

In [ ]:
# Time elapsed to transpose: ~100 seconds on a modern laptop
dft_FPKM_UQ = df_FPKM_UQ.T

In [ ]:
# dft_FPKM_UQ.columns = dft_FPKM_UQ.loc['gene_name',:]

In [ ]:
print('Pre df', df_FPKM_UQ.shape)
print('After df Transpose', dft_FPKM_UQ.shape)

dft_FPKM_UQ[0:2]
dft_FPKM_UQ.index[0:2]

Pre df (60483, 4502)
After df Transpose (4502, 60483)

Index(['Unnamed: 0', 'gene_name'], dtype='object')

In [ ]:
# We are removing the first two rows (ESG*** and gene_name rows) 
# and saving them in dftm_FPM_UQ

print('Dimension of dft_FPKM_UQ :', dft_FPKM_UQ.shape)
dftm_FPKM_UQ = dft_FPKM_UQ.drop(dft_FPKM_UQ.index[0:2], axis=0)
print('Dimension of dftm_FPKM_UQ :', dftm_FPKM_UQ.shape)

Dimension of dft_FPKM_UQ : (4502, 60483)
Dimension of dftm_FPKM_UQ : (4500, 60483)

In [ ]:
dftm_FPKM_UQ

                                    0        1      ... 60481 60482
TCGA-04-1331-01A-01R-1569-13       574548  2263.14  ...     0     0
TCGA-04-1332-01A-01R-1564-13       352295  4592.37  ...     0     0
TCGA-04-1338-01A-01R-1564-13       295162  649.026  ...     0     0
TCGA-04-1341-01A-01R-1564-13       329580  1835.59  ...     0     0
TCGA-04-1343-01A-01R-1564-13       289269  40061.7  ...     0     0
...                                   ...      ...  ...   ...   ...
TCGA-ZS-A9CD-01A-11R-A37K-07  1.18093e+06        0  ...     0     0
TCGA-ZS-A9CE-01A-11R-A37K-07       929228        0  ...     0     0
TCGA-ZS-A9CF-01A-11R-A38B-07       469276  476.683  ...     0     0
TCGA-ZS-A9CG-01A-11R-A37K-07  2.44119e+06  18282.7  ...     0     0
TCGA-ZX-AA5X-01A-11R-A42T-07       259853  505.488  ...     0     0

[4500 rows x 60483 columns]

In [ ]:
# view few entries.
dftm_FPKM_UQ.iloc[0:3, 0:15]
dft_FPKM_UQ.iloc[0:5,0:15]
dftm_FPKM_UQ.index

Index(['TCGA-04-1331-01A-01R-1569-13', 'TCGA-04-1332-01A-01R-1564-13',
       'TCGA-04-1338-01A-01R-1564-13', 'TCGA-04-1341-01A-01R-1564-13',
       'TCGA-04-1343-01A-01R-1564-13', 'TCGA-04-1347-01A-01R-1564-13',
       'TCGA-04-1356-01A-01R-1569-13', 'TCGA-04-1357-01A-01R-1565-13',
       'TCGA-04-1362-01A-01R-1565-13', 'TCGA-04-1364-01A-01R-1565-13',
       ...
       'TCGA-ZP-A9CZ-01A-11R-A38B-07', 'TCGA-ZP-A9D0-01A-11R-A37K-07',
       'TCGA-ZP-A9D1-01A-11R-A38B-07', 'TCGA-ZP-A9D4-01A-11R-A37K-07',
       'TCGA-ZQ-A9CR-01A-11R-A39E-31', 'TCGA-ZS-A9CD-01A-11R-A37K-07',
       'TCGA-ZS-A9CE-01A-11R-A37K-07', 'TCGA-ZS-A9CF-01A-11R-A38B-07',
       'TCGA-ZS-A9CG-01A-11R-A37K-07', 'TCGA-ZX-AA5X-01A-11R-A42T-07'],
      dtype='object', length=4500)

In [ ]:
# Extract the Submitter ID from the index and attach 
# it as a column called Submitter ID

dftm_FPKM_UQ['submitter_id'] = dftm_FPKM_UQ.index
dftm_FPKM_UQ
dftm_FPKM_UQ = dftm_FPKM_UQ.reset_index(drop=True)

dftm_FPKM_UQ.iloc[0:3, 0:12]
dft_FPKM_UQ.iloc[2:5,0:12]

dftm_FPKM_UQ['submitter_id']
dftm_FPKM_UQ.iloc[0:5,60483]

print(submitters_id_to_project_id.iloc[0:3,0:3])
sid_list = submitters_id_to_project_id['submittedAliquot ID'].values.tolist()
type(sid_list)
sid_list.index('TCGA-04-1338-01A-01R-1564-13')

            submittedAliquot ID  mappedCaseId mappedProject
0  TCGA-04-1331-01A-01R-1569-13  TCGA-04-1331       TCGA-OV
1  TCGA-04-1332-01A-01R-1564-13  TCGA-04-1332       TCGA-OV
2  TCGA-04-1338-01A-01R-1564-13  TCGA-04-1338       TCGA-OV

2

In [ ]:
# explore the file 
dftm_FPKM_UQ.shape

dftm_FPKM_UQ['Project_id'] = ' '
for idx, val in dftm_FPKM_UQ['submitter_id'].items():
    temp_sid = sid_list.index(val)
    dftm_FPKM_UQ['Project_id'][idx] = submitters_id_to_project_id['mappedProject'][temp_sid]

In [ ]:
dftm_FPKM_UQ[['Project_id','submitter_id']].iloc[[1,100,500,1000,2000,3000,4000],]

     Project_id                  submitter_id
1       TCGA-OV  TCGA-04-1332-01A-01R-1564-13
100     TCGA-OV  TCGA-13-1411-01A-01R-1565-13
500   TCGA-BLCA  TCGA-4Z-AA7S-01A-11R-A39I-07
1000  TCGA-UCEC  TCGA-A5-A7WJ-01A-12R-A34R-07
2000  TCGA-BLCA  TCGA-CF-A1HS-01A-11R-A13Y-07
3000  TCGA-PRAD  TCGA-EJ-5530-01A-01R-1580-07
4000   TCGA-LGG  TCGA-P5-A5EU-01A-11R-A27Q-07

In [ ]:
# checking few random project_id and submitters_ids
dftm_FPKM_UQ[['Project_id','submitter_id']].iloc[[1,100,500,1000,2000,3000,4000],]

print(dftm_FPKM_UQ.shape)
dftm_FPKM_UQ.drop(['submitter_id'], axis = 1,  inplace=True)
print(dftm_FPKM_UQ.shape)
print(len(sid_list))

(4500, 60485)
(4500, 60484)
4500

In [ ]:
# ## Final check before moving on
dftm_FPKM_UQ.Project_id.value_counts()

print( 'before', dftm_FPKM_UQ['Project_id'][0:10] )
le = preprocessing.LabelEncoder()

before 0    TCGA-OV
1    TCGA-OV
2    TCGA-OV
3    TCGA-OV
4    TCGA-OV
5    TCGA-OV
6    TCGA-OV
7    TCGA-OV
8    TCGA-OV
9    TCGA-OV
Name: Project_id, dtype: object

In [ ]:
dftm_FPKM_UQ.to_csv('/content/drive/My Drive/FNL_TC1/dftm_FPKM_UQ.tsv', sep='\t', index=False, header = False)

In [ ]:
Project_id = dftm_FPKM_UQ['Project_id']
Project_id

0         TCGA-OV
1         TCGA-OV
2         TCGA-OV
3         TCGA-OV
4         TCGA-OV
          ...
4495    TCGA-LIHC
4496    TCGA-LIHC
4497    TCGA-LIHC
4498    TCGA-LIHC
4499    TCGA-CESC
Name: Project_id, Length: 4500, dtype: object

In [ ]:
# Create a label (category) encoder object
dftm_FPKM_UQ['Project_id'] = le.fit_transform(dftm_FPKM_UQ.Project_id.values)

print( 'end', dftm_FPKM_UQ['Project_id'][0:10] )

print(len(le.classes_))
print(le.classes_)

dftm_FPKM_UQ['Project_id'].value_counts()
dftm_FPKM_UQ.shape
dftm_FPKM_UQ.columns

end 0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
9    10
Name: Project_id, dtype: int64
15
['TCGA-BLCA' 'TCGA-BRCA' 'TCGA-CESC' 'TCGA-COAD' 'TCGA-HNSC' 'TCGA-KIRC'
 'TCGA-LGG' 'TCGA-LIHC' 'TCGA-LUAD' 'TCGA-LUSC' 'TCGA-OV' 'TCGA-PRAD'
 'TCGA-STAD' 'TCGA-THCA' 'TCGA-UCEC']

Index([           0,            1,            2,            3,            4,
                  5,            6,            7,            8,            9,
       ...
              60474,        60475,        60476,        60477,        60478,
              60479,        60480,        60481,        60482, 'Project_id'],
      dtype='object', length=60484)

In [ ]:
outcome = pd.DataFrame()
outcome['Project_id_name'] = Project_id
outcome['Project_id'] = dftm_FPKM_UQ['Project_id']
outcome

     Project_id_name  Project_id
0            TCGA-OV          10
1            TCGA-OV          10
2            TCGA-OV          10
3            TCGA-OV          10
4            TCGA-OV          10
...              ...         ...
4495       TCGA-LIHC           7
4496       TCGA-LIHC           7
4497       TCGA-LIHC           7
4498       TCGA-LIHC           7
4499       TCGA-CESC           2

[4500 rows x 2 columns]

In [ ]:
# outcome.to_csv('/content/drive/My Drive/FNL_TC1/TC1-outcome-data15-projectname.tsv', sep='\t', index=False, header = True)

In [ ]:
# Use to_categorical on your labels
features = dftm_FPKM_UQ.drop(['Project_id'], axis=1)
# pandas.core.series.Series
outcome = dftm_FPKM_UQ.Project_id
print(outcome)
#outcome.to_csv('/content/drive/My Drive/FNL_TC1/TC1-outcome-data15.tsv', sep='\t', index=False, header = False)

0       10
1       10
2       10
3       10
4       10
        ..
4495     7
4496     7
4497     7
4498     7
4499     2
Name: Project_id, Length: 4500, dtype: int64

In [ ]:
features.columns=gene_name

In [ ]:
features

gene_name       TSPAN6     TNMD  ... RP13-465B17.5 RP13-465B17.4
0               574548  2263.14  ...             0             0
1               352295  4592.37  ...             0             0
2               295162  649.026  ...             0             0
3               329580  1835.59  ...             0             0
4               289269  40061.7  ...             0             0
...                ...      ...  ...           ...           ...
4495       1.18093e+06        0  ...             0             0
4496            929228        0  ...             0             0
4497            469276  476.683  ...             0             0
4498       2.44119e+06  18282.7  ...             0             0
4499            259853  505.488  ...             0             0

[4500 rows x 60483 columns]

In [ ]:
# features.to_csv('/content/drive/My Drive/FNL_TC1/TC1-features-data15.tsv', sep='\t', index=False, header = True)

# Scaling

In [ ]:
features = pd.read_csv("/content/drive/My Drive/FNL_TC1/TC1-features-data15.tsv", low_memory=False, sep="\t")

In [ ]:
sfeatures = features.div(features.sum(axis=1), axis=0)
sfeatures = sfeatures * 1000000

# log scaling
sfeatures1 = sfeatures.astype(np.float64).apply(np.log10)

# since we have negative numbers
sfeatures1[sfeatures1 < 0] = 0

In [ ]:
# just making sure
sfeatures1.isnull().sum().sum()

# just checking
print('features few entries')
features.iloc[0:5,0:5]

print('sfeatures few entries')
sfeatures.iloc[0:5,0:5]

print('sfeatures1 few entries')
sfeatures1.iloc[0:5,0:5]

features few entries
sfeatures few entries
sfeatures1 few entries

     TSPAN6      TNMD      DPM1     SCYL3  C1orf112
0  1.829525  0.000000  2.062846  0.913543  0.809255
1  1.541309  0.000000  1.815986  0.593689  0.557331
2  1.282789  0.000000  1.895928  0.571531  0.332523
3  1.388260  0.000000  1.905475  0.399374  0.259750
4  1.389160  0.530588  2.316735  0.349455  0.189075

In [ ]:
sfeatures1.to_csv('/content/drive/My Drive/FNL_TC1/TC1-S1-data15-genename.tsv', sep='\t', index=False, header = True)

In [ ]:
# Read features and output files 
# TC1data15 = pd.read_csv("TC1-S1-data15.tsv", sep="\t", low_memory = False)
TC1data15 = sfeatures1

In [ ]:
outcome = pd.read_csv('TC1-outcome-data15.tsv', sep='\t',names='y')

In [ ]:
#outcome = outcome.values
outcome = outcome['y']

In [ ]:
# sfeatures1.to_csv('TC1-S1-data15.tsv', sep='\t', index=False)

In [ ]:
def encode(data): 
    print('Shape of data (BEFORE encode): %s' % str(data.shape))
    encoded = to_categorical(data)
    print('Shape of data (AFTER  encode): %s\n' % str(encoded.shape))
    return encoded

In [ ]:
# from keras.utils import to_categorical
# outcome = encode(outcome)